<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <p class="copyright">COPYRIGHT <%= year %>, BALUKU  CSE 340 APP</p>
    <%# Assignment 4, Task 3 Link %>
  <p><a href="/inv/broken" title="Will trigger intentional exception">Error Link</a></p>
</footer>
